@model AssistTrainSystem.Models.EnergyAbility

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnergyAbility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.create_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.create_time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horbara_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horbara_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horbara_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horbara_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horbarb_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horbarb_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horbarb_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horbarb_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doubara_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.doubara_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doubara_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.doubara_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doubarb_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.doubarb_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doubarb_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.doubarb_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pushup_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pushup_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pushup_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pushup_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.situp_num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.situp_num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.situp_score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.situp_score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
